<configuration  scan="true" scanPeriod="70 seconds" debug="true">
	<property resource="fancycms.properties"/>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoder 默认配置为PatternLayoutEncoder -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<logger name="java.sql" level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="cn.telling" level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	<logger
		name="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"
		level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	<root level="${logLevel}">
		<appender-ref ref="${logLevel}" />
		<appender-ref ref="ERROR" />
        <appender-ref ref="STDOUT" />
	</root>
</configuration>